<div class="background-img"></div>
<div class="container">
    <div class="row">
        <div class="col s8 offset-s2">
            <div id="scientificAmCard" class="card">
                <div class="card-image">
                    <img src="assets/img/scientific-american.jpeg" alt="cover of magazine, showing brain">
                </div>
                <div class="card-content">
                    <p>Get the latest articles from this magazine!</p>
                </div>
                <div class="card-action">
                    <a href="#" id="getScientificAmericanArticles">Get Articles</a>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="container">
    <div class="row" id="articles_wrapper"></div>
</div>